html, body {
	color: #DFDFDF;
	background-color: #0F0F0F;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

#fof {
	font-size: 50vh;
	height: fit-content;
	text-shadow: #7D00FF 25px 10px;
	line-height: 50vh;
	margin: auto;
	margin-top: 25vh;
}

#pnf {
	font-family: 'Roboto Mono', monospace;
	margin: auto;
}

#blink {
	animation-name: blink1;
	animation-duration: 1.06s;
	animation-iteration-count: infinite;
	margin-left: 1px;
}

@keyframes blink1 {
	0% {opacity: 0}
	50% {opacity: 1}
	100% {opacity: 0}
}