#cursor {
	border: 1px rgba(223,223,223,1) solid;
	border-radius: 2.5em;
	height: 2.5em;
	width: 2.5em;
	position: fixed;
	top: -100px;
	left: -100px;
	z-index: 100;
	transform: translate(-50%,-50%);
	pointer-events: none;
	animation-duration: 0.2s;
}

.cursor_expand { animation-name: expand1; animation-fill-mode: forwards; }
.cursor_shrink { animation-name: shrink1; animation-fill-mode: forwards; }

@keyframes shrink1 {
	from {background-color: rgba(223, 223, 223, 0.3); width: 4em; height: 4em; border: 1px rgba(223,223,223,1) solid;}
	to {background-color: rgba(223,223,223,0); width: 2.5em; height: 2.5em; border: 1px rgba(223,223,223,1) solid;}
}
@keyframes expand1 {
	from {background-color: rgba(223,223,223,0); width: 2.5em; height: 2.5em; border: none;}
	to {background-color: rgba(223, 223, 223, 0.3); width: 4em; height: 4em; border: none;}
}

ul.cloud {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	line-height: 2.5rem;
}

ul.cloud a {
	color: var(--col1);
	display: block;
	padding: 0.3em;
	text-decoration: none;
	position: relative;
	border-radius: 0.25em;
	--size: 4;
	font-size: calc(var(--size) * 0.2em + 0.5em);
    opacity: calc((15 - (9 - var(--size))) / 20); 
}

ul.cloud a:hover {
    background-color: black;
}