/*
	This top section is for link/button hover animations. BE CAREFUL!
*/
a, button {
	border-style:none;
	text-decoration: none;
	line-height: 1;
	display: inline-block;
	padding: 5px 0;
	pointer-events: all;
}

.underline {
	font-size:2.5em;
	padding-bottom: 2px;
}

a, button, .link_body, #git_button, #coffee_box, #return_button, #fs_button {
	background-size: 200% 100%;
	background-position: -100%;
	-webkit-background-clip: text;
	transition: all 0.3s ease-in-out;
	background: linear-gradient(0deg, #0b0b0b, #0b0b0b) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 350ms;
	--bg-h: 100%;
}

a:where(:hover, :focus-visible), button:where(:hover, :focus-visible), .link_body:where(:hover, :focus-visible) {
	background-size: 100% var(--bg-h);
	background-position-x: left;
}

.link_body_foot {
	background-size: 200% 100%;
	background-position: -100%;
	-webkit-background-clip: text;
	transition: all 0.3s ease-in-out;
	background: linear-gradient(0deg, #1f1f1f, #1f1f1f) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 350ms;
	--bg-h: 100%;
}

.link_body_foot:where(:hover, :focus-visible) {
	background-size: 100% var(--bg-h);
	background-position-x: left;
}

/*
	This is general styling, be less careful I guess.
*/
html {
	background-color:#1f1f1f;
	scroll-behavior: smooth;
	text-align:center;
	color:#ffb347;
	font-family: Courier New;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.2em;
	word-spacing: -2px;
	pointer-events: none;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.nav_bar {
	align-self: center;
	z-index: 99;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 0;
	white-space: nowrap;
	pointer-events: all;
	justify-content: left;
	width: 100%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	animation-name: nav_fly;
	animation-duration: 2s;
}

#coffee_box, #git_button, #refresh_button, #about_button, #skills_button, #playlist_button, #fs_button {

	font-family: Courier New;
	font-weight: bold;
	color: #ffb347;
	font-size:1.75vw;
	width:fit-content;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	height: fit-content;
	border: 2px solid;
	display:inline-block;
}

.link_body, .link_body_foot, .page_break {
	border-image-source: linear-gradient(to right, #6D00CF, #F25050);
	border-image-slice: 1;
}

#coffee_box, #git_button, #refresh_button, #about_button, #skills_button, #playlist_button, #fs_button, #return_button, .skill_container {
  background: 
    linear-gradient(#1f1f1f, #1f1f1f) padding-box,
    linear-gradient(to right, #6D00CF, #F25050) border-box;
  border-radius: 2em;
  border: 4px solid transparent;
}

.profile_pic, .profile_pic2, .skill_container {
  border: 4px solid transparent;
  border-radius: 1em;
}

.skill_container, .profile_pic2, .profile_pic, #return_button, #refresh_button {
	background: 
	  linear-gradient(#101010, #101010) padding-box,
    linear-gradient(to right, #6D00CF, #F25050) border-box;
}

#coffee_box:hover, #git_button:hover, #refresh_button:hover, #about_button:hover, #skills_button:hover, #playlist_button:hover, #fs_button:hover, #return_button:hover {
	background: 
	  linear-gradient(#101010, #101010) padding-box,
    linear-gradient(to right, #6D00CF, #F25050) border-box;
    cursor: pointer;
}

nav a, nav button {
	margin-right: 0.25em;
	margin-left: 0.25em;
}

#git_button {
	margin-left: auto;
}

#return_button {
	z-index: 100;
	opacity: 0;
	position: fixed;
	width: 1rem;
	height: 1rem;
	padding: 0.5rem;
	top: 0.75em;
	right: 0.75em;
	font-size: 1.25em;
	border-style: solid;
}


#refresh_button {
	padding-bottom: 10px;
	padding-top: 10px;
	pointer-events: all;
}

#head_image_container {
	position: relative;
	top: -2.25em;
	z-index: -1;

	animation-name: image_fly;
	animation-duration: 2s;
}

#head_image {
	height: 6em;
	
}

p {
	font-size:2.4em;
}

.box_indicator {
	position: relative;
	margin-top: auto;
	margin-bottom: 1em;
	animation-name: box_fly;
	animation-duration: 2s;
}

.prev_progress_button, .next_progress_button, #puzzle_crawler {
	display: inline-block;
	margin-top: 3%;
	color: #ffb347;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 20px;
	font-size: 165%;
	pointer-events: all;
}

#puzzle_crawler {
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
	line-height: 1.1em;
}

section {
	position: relative;
	background-color: rgba(23,23,23,0.65);
}

#the_playlist {
	overflow-x: hidden;
}

#artist_container, #song_container {
	line-height: 1.2em;
	font-size: 2.75vw;
	overflow: hidden;
	display: inline-block;
}

#top_section {
	flex-direction: column;
	background-color: transparent;
	width: 100%;
	height: 95vh;
}

#top_section, #about_container, #business_container, #the_playlist, #footer {
	display: none;
}

#business_container {
	flex-direction: column;
}

.page_break {
	border-top-style: solid;
}

.profile_pic, .profile_pic2 {
	background-color: #0f0f0f;
	max-width: 33%;
	margin: 3%;
	padding: 2%;
	border-style: solid;
	align-self: flex-start;
}
.text_container {
	margin: 3%;
	text-align: left;
}

.text_container li {
	list-style: none;
}

.link_body, .link_body_foot {
	color: #ffb347;
	display: inline;
	padding-bottom: 0px;
	padding-top: 0px;
	border-bottom-style: solid;
	pointer-events: all;
}
.box_spacer {
	display: inline-flex;
	width: 40%;
}

footer {
	position: relative;
	padding-top: 1%;
	min-height: 4.5em;
	height: fit-content;
	background-color: #101010;
	pointer-events: all;
}

#small_text {
	position: absolute;
	bottom: 0;
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
}

.praise, .ina_credit {
	display: inline-block;
	font-size: 0.6em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.work_text {
	position: relative;
	left: 2%;
	bottom: 10%;
	text-align: left;
}

#special, #very_special {
  background: -webkit-linear-gradient(left, #6D00CF, #F25050);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#three_div {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 8%;
}

#particles-js {
	position: fixed;
	height: 100vh;
	width: 100vw;
	pointer-events: all;
}

#loader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  background: -webkit-linear-gradient(left, #6D00CF, #F25050);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}

#load_image {
	width: 70%;
	animation-name: load;
	animation-duration: 1s;
}

#load_text, #load_text_2 {
	animation-name: load_text;
	animation-duration: 1s;

}

.skill_bar {
	background: linear-gradient(to right, #6D00CF, #F25050);
	height: 0.5em;
	border-radius: 20em;
	display: inline-block;
}

.skill_container li {
	text-align: center;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.skill_container {
	padding: 2%;
	border-style: solid;
	width: 45%;
} 

/* :0 What?! Omg mobile responsiveness?!?!?! Lucy never implements this, no way omg */
@media (orientation:  portrait) {

	html {
		font-size: 1.5em;
	}

	.box_indicator {
		font-size: 0.75em;
	}

	.prev_progress_button, .next_progress_button {
		font-size: 3em;
	}

	#head_image_container {
		top: 0;
	}

	#loader {
		width: 100vw;
	}

	#fs_button, #git_button {
		display: none;
	}

	#refresh_button {
		font-size: 0.75em;
	}
}

/* Omg she is going to do CSS animation too? Lucy would never :O */
@keyframes return {
	from {top: -2em;}
	to {top: 0.75em;}
}

@keyframes box_fly {
	from {left: -100%}
	to {left: 0;}
}

@keyframes nav_fly {
	from {top: -100%}
	to {top: 0;}
}

@keyframes image_fly {
	from {right: -100%}
	to {right: 0%;}
}

@keyframes fly_back {
	from {top: 0.75em;}
	to {top: -2em;}
}

@keyframes load {
	from {margin-left: -200%;}
	to {margin-left: 0;}
}

@keyframes load_text {
	from {margin-right: -200%;}
	to {margin-right: 0;}
}

@keyframes ske1 {
	from {width: 0%;}
	to {width: 75%;}
}

@keyframes ske2 {
	from {width: 0%;}
	to {width: 55%;}
}

@keyframes ske3 {
	from {width: 0%;}
	to {width: 90%;}
}

@keyframes ske4 {
	from {width: 0%;}
	to {width: 40%;}
}

@keyframes ske5 {
	from {width: 0%;}
	to {width: 50%;}
}

@keyframes ske6 {
	from {width: 0%;}
	to {width: 40%;}
}

@keyframes ske7 {
	from {width: 0%;}
	to {width: 50%;}
}

@keyframes ske8 {
	from {width: 0%;}
	to {width: 65%;}
}

@keyframes ske9 {
	from {width: 0%;}
	to {width: 35%;}
}

@keyframes ske10 {
	from {width: 0%;}
	to {width: 15%;}
}

#sk1, #sk2, #sk3, #sk4, #sk5, #sk6, #sk7, #sk8, #sk9, #sk10 {
	width: 0%;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
} 

/* This should probably be fixed later :skull: */
.sk1 {
	animation-name: ske1;
}

.sk2 {
	animation-name: ske2;
}

.sk3 {
	animation-name: ske3;
}

.sk4 {
	animation-name: ske4;
}

.sk5 {
	animation-name: ske5;
}

.sk6 {
	animation-name: ske6;
}

.sk7 {
	animation-name: ske7;
}

.sk8 {
	animation-name: ske8;
}

.sk9 {
	animation-name: ske9;
}

.sk10 {
	animation-name: ske10;
}
