/* Global Variables */
:root {
	--c1: hsl(25, 9%, 25%);
	--c2: hsl(21, 6%, 51%);
	--c3: hsl(38, 8%, 72%);
	--c4: hsl(50, 21%, 95%);
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none; /* IE 11 */
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Fira Code", monospace;
	cursor: none;
	color: var(--c1);
	overflow: hidden;
}

html {
	background-color: var(--c3);
}

body {
	background-color: var(--c4);
	overflow-x: hidden;
	width: 100vw;
	min-height: 100dvh;
	display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

.f-c {
	display: flex;
	flex-direction: column;
}

.a-c {
	justify-content: center;
	align-items: center;
}

#cursor {
	position: fixed;
	display: flex;
	width: 2em;
	height: 2em;
	border: 2px solid var(--c2);
	transform: translate(-50%, -50%);
	border-radius: 2em;
	z-index: 1000;
	left: -1000px;
	top: -1000px;
	pointer-events: none;
}

#cursor div {
	width: 0;
	height: 0;
	border: 2px solid var(--c2);
	border-radius: 1em;
}

h1 {
	font-family: "Fira Code", monospace;
	font-weight: 400;
	font-size: 2em;
	margin: 2rem 2rem 0rem 2rem;
	height: fit-content;
}

/* Borders and main containers */
.border_full, .top_bar, .main_content {width: 100%;}
.main_content .left, .main_content .right {position: relative; height: 100%;}

.border_full {
	margin: 1em;
	border: 2px solid var(--c3);
	border-radius: 1em;
	overflow: hidden;
	position: relative;
}

.top_bar {
	height: 3em;
	border-bottom: 2px solid var(--c3);
	display: flex;
	align-items: center;
}

#light_mode {
	height: 1.5em;
	margin-left: 1em;
	animation: rotate_sun 7s linear infinite;

	/* prevents the image from being dragged */
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#mode_text {color: var(--c2);}
#light_mode:hover {scale: 1.2;}

@keyframes rotate_sun {
	from {rotate: 0deg;}
	to {rotate: 360deg;}
}

.main_content {
	display: flex;
	position: absolute;
	bottom: 0;
	top: 3em;
	left: 0;
	right: 0;
	
}

.main_content .left {
	width: calc(100% / 3);
	border-right: 2px solid var(--c3);
	height: 100%;
	overflow: scroll;
}

.main_content .right {
	width: calc(200% / 3);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 2em;
}

.form_group {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.form_group input {
  margin-left: 2rem;
	font-size: 2em;
	width: 100%;
	flex-grow: 1;
}

.form_group input {
	background-color: var(--c4);
	border: 2px solid var(--c2);
	color: var(--c1);
	cursor: none;
	border-radius: 2em;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.form_group input:focus {
	outline: none;
}

label {
	text-wrap: nowrap;
	cursor: none;
}

form {
  width: 60%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding: 2em;
	border: 2px solid var(--c2);
	background-color: var(--c4);
	border-radius: 1em;
	color: var(--c1);
}

#submit {
  padding: 1em;
  background-color: var(--c4);
  border: 2px solid var(--c2);
	color: var(--c1);
  border-radius: 2em;
	font-family: "Fira Code", monospace;
	cursor: none;
	width: fit-content;
	align-self: center;
}

#submit:hover {
	scale: 1.1;
	background-color: var(--c2);
}

.task_card {
  border: 2px solid var(--c2);
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
	position: relative;
}

.pr {
	position: absolute;
	right: 3em;
	top: 1em;
	font-weight: bold;
}

.tb {
	position: absolute;
	top: 1em;
	height: 2em;
	width: 2em;
	right: 1em;
	background-color: transparent;
	border: 2px solid var(--c2);
	color: var(--c2);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	cursor: none;
}

.tb:hover {
	background-color: var(--c2);
	color: var(--c1);
	border: 2px solid var(--c1);
}

.done_task {
	bottom: 1rem;
	top: initial;
	right: 1rem;
	font-size: 1.5em;
}

.task_card h1 {
  margin: 0;
}

.task_card:hover {
	background-color: var(--c3);
	rotate: -2deg;
	scale: 1.1;
}

.prior0 {color: #ffb2e6;}
.prior1 {color: #f6a2ed;}
.prior2 {color: #ec92f3;}
.prior3 {color: #e382f9;}
.prior4 {color: #d972ff;}
.prior5 {color: #c468ff;}
.prior6 {color: #ba63ff;}
.prior7 {color: #af5dff;}
.prior8 {color: #9a52ff;}
.prior9 {color: #8447ff;}
.prior10 {color: #5217c9;}


#priority {
	border: 2px solid var(--c2);
	flex-grow: 1;
	margin-left: 2em;
	border-radius: 2em;
	overflow: hidden;
	height: 2em;
}

#priority_slider {
	height: 100%;
	width: 0;
	background-color: var(--c2);
}

.info {
	border: 2px solid var(--c2);
	margin-top: 2em;
	height: 10em;
	width: 60%;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	padding: 2em;
}

.info h1 {
	margin-top: 0;
	margin-left: 0;
}

#subtitle {
	margin-top: 1rem;
	font-size: 1em;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--c1);
	resize: none;
	cursor: none;
	letter-spacing: normal;
	font-family: "Fira Code", monospace;
}

.congrats {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid var(--c2);
	background-color: var(--c4);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 2em;
	padding: 3em;
}

.congrats h1 {
	margin: 0;
}

.congrats button {
	border: 2px solid var(--c2);
	color: var(--c1);
	padding: 1em;
	font-size: 1.25em;
	margin-top: 2em;
	border-radius: 2em;
	font-family: 'Fira Code', monospace;
	background-color: transparent;
	cursor: none;
}