html, body {
    margin: 0;
    padding: 0;
    background-color: white;
	font-family: 'Josefin Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    width: 20em;
    justify-content: space-between;
}

nav button {
    font-family: 'Caveat', cursive;
    border: none;
    width: 5em;
    height: 5em;
    border-radius: 10px;
    background-color: #0f0f0f;
    color: white;
    margin: 5px 0px 5px 0px;
}

nav div {
    background-color: #aaa;
    border-radius: 10px;
    padding-left: 5px;
}

nav div button {
    margin-right: 5px;
}

#home {
    margin: 5px;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home span {
    margin: 0px 10px 0px 10px;
}

#arrow {
    display: none;
}

.home_expand {animation-name: home_expand;}
.home_shrink {animation-name: home_shrink;}

@keyframes home_expand {
    from {width: 5em;}
    to {width: 100%;}
}
@keyframes home_shrink {
    from {width: 100%;}
    to {width: 5em;}
}