:root {
    --bg1: #000000;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg1);
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 2em;
    right: 2em;
    bottom: 3em;
    left: 2em;
    border: 1px solid white;
}

#game {
    width: 100%;
    height: 100%;
}


.health_container {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 10em;
    height: 1em;
    background-color: #B90000;
} 

#health {
    height: 100%;
    width: 100%;
    background-color: #F7F700;
}